@{
    ViewData["Title"] = "Perfil";
}
@using SocialNetwork.Core.Application.ViewModel.User;
@model SaveUserViewModel;

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mx-auto mt-5 mb-3">
            <h4 class="text-center">Actualizacion del perfil</h4>
            @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
            {
                <div class="col-12 alert text-dark @ViewBag.MessageType" role="alert">
                    @ViewBag.Message
                </div>
            }
            @Html.ValidationSummary(false,"",new {@class="text-danger"})
            <form method="post" asp-action="Index" asp-controller="Perfil" enctype="multipart/form-data">
                <div class="mb-2">
                    <label asp-for="Name" class="form-label">Nombre: </label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="mb-2">
                    <label asp-for="Lastname" class="form-label">Apellido: </label>
                    <input asp-for="Lastname" class="form-control" />
                </div>
                <div class="mb-2">
                    <label asp-for="Phone" class="form-label">Telefono: </label>
                    <input asp-for="Phone" class="form-control" />
                </div>
                <div class="mb-2">
                    <label asp-for="Email" class="form-label">Correo electronico: </label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="mb-2">
                    <label asp-for="Image" class="form-label">Foto de perfil: </label>
                    <input asp-for="Image" class="form-control" />
                </div>
                <div class="mb-2">
                    <label asp-for="Password" class="form-label">Contraseña: </label>
                    <input asp-for="Password" class="form-control" />
                </div>
                <div class="mb-2">
                    <label asp-for="ConfirmPassword" class="form-label">Confirmar contraseña: </label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                </div>
                <input asp-for="Id" type="hidden" />
                <input asp-for="ImagePath" type="hidden" />
                <input asp-for="Username" type="hidden" />
                <input asp-for="IsActive" type="hidden" />
                <div class="btn-group float-end mt-2">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Volver atras</a>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>